@import url("https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  background-color: hsl(220 15% 10%);
  color: hsl(220 25% 90%);
  font-family: Spline Sans Mono;
  margin: 0;
}

.app {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
